body{
    background-image: url(img/bg19.jpg);
    /* background-color: #E3E2E4; */
    /* background-color: #D8CFBB; */
     /* background-repeat:no-repeat; */
    background-position: center;
    /* background-size: 100% 100%;  */
    min-height: 100vh;
    min-width: 100vw;
    margin: 0; 
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cell{
    background-color: var(--secondary-color);
    width: 100px;
    height: 100px;
    margin: 0.2rem 0.2rem 0.4rem;
    padding: 1rem;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color:var(--primary-color);
}