@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
    --back-color:#BCFFB9;

}
body{
    margin: 0; 
    font-family: 'Patrick Hand', cursive;
}
/* header */
header{
    background-color: var(--back-color);
    padding: 1rem;
}
/* main */
main{
    text-align:center ;
    
}


/* cell */

.cell {
    text-decoration: none;
    cursor: pointer;
    color:black; 
}

/* lists */
.main-list {
    
    list-style: none;
    padding-inline-start: 0px;
    text-align:center;   
}
.list-item{
    margin: auto;
    margin-top: 1rem;
    list-style: none;
    border: solid black 1px;
    width: 25%;
    border-radius: 0.5rem;
    padding: 1rem;
}
.list-container{
    margin: 1rem auto 1rem;
    
}
/* footer */
.footer {
    padding: 4.5rem 1rem;
    background-color: var(--back-color);
    border-top-right-radius: 1rem;
    color: var(--yellow);
    text-align: center;
    bottom: 0;
}

.footer-heading {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: 0px;
}
.footer-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin:0.5rem 1rem ;
}
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    margin: 0rem 0.5rem;
}
/* nav-link */
.nav{
    text-align:left ;
}
.nav-link{
    text-decoration: none;
    color: black;
   
}
.link-active{
    font-weight: bold;
}
/* instruction */
.instruction{
    font-size: larger;
    margin: 0.2rem auto 0.2rem;
}

/* input */

input{
    padding: 1rem;
    margin: 1rem 0.75rem 1.5rem 0.5rem;
    height: 10px;
    width: 30px;
}
/* .input-adj{
    height: 10px;
    width: 25px;
} */
/* button */
#button{
    background-color: var(--back-color);
    border: 1px solid black;
    border-radius: 0.3rem;
    display: block;
   
    margin:0.5rem auto 0.5rem;
}
/* outputbox */
.outputHere{
  
    width:35% ;
    margin:1rem auto 4.5rem;
    

}
#isTriangle{
    padding-inline-start: 0;
    border: solid black 1px;
    width: 100%;
    margin: auto;
    padding:0.75rem;
}

/* selection-from */
#selection-form{
   margin-bottom: 1rem;
}
.calculation-box{
    width: 50%;
    display: none;
    margin: auto;
}
.error{
    display: none;
}
#selection-form{
    /* width: 80%; */
    margin: auto;
}